* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 30px;
  display: grid;
  place-items: center;
  max-height: 1000vh;
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: #4c3a51;
  font-family: 'McLaren', cursive;
  font-size: 2.5em;
}

.container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 40px;
}

.left .header {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.left .scores {
  border-radius: 5px;
  width: 70%;
}

.scores > p {
  background-color: #ddd;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}

.scores > p:nth-child(odd) {
  background-color: #eee;
}

.right {
  width: 100%;
  text-align: right;
}

h2 {
  color: #cde3eb;
  font-family: 'Montserrat', sans-serif;
}

.right h2 {
  padding-bottom: 20px;
}

.right form {
  display: block;
}

form > input {
  margin-bottom: 15px;
  padding: 5%;
  border: 2px solid gray;
  border-radius: 10px;
}

button {
  padding: 8px;
  border: none;
  border-radius: 6px;
  color: #e3eff3;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  background-color: #4c3a51;
  box-shadow: 0 5px 15px #999;
}
